li {
	display: inline;
	padding-left: 10px;
}

ul {
	margin: 0;
}

.navbar a {
	color: black;
	text-decoration: none;
}

.top-nav > a > img {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.top-nav img {
	width: 120px;
	height: 44px;
}

a:hover {
	text-decoration: none;
	color: black;
}

body {
	font-family: Arial, sans-serif;
	color: black;
	margin: 0;
}

html {
	margin: 0;
}

.navbar {
	font-size: 13px;
	background-color: #fafafa;
	height: 100px;
}

.navigation {
	float: left;
	margin-top: 3px;
}

.options {
	float: left;
	width: 30px;
	height: 30px;
	background-image: url(../img/resources.png);
	background-position: -132px -38px;
	margin-top: 10px;
	margin-left: 36%;
}

.bottom-nav {
	width: 50%;
	margin-top: 15px;
	position: relative;
	top: 30px;
}

.bottom-nav a {
	color: #777;
	font-size: 13px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 15px;
}

.bottom-nav a:hover {
	color: #222;
}

#selected {
	color: #4285f4;
	padding-bottom: 5px;
	font-weight: bold;
}

.bottom-nav li {
	padding-bottom: 15px;
}

#border {
	border-bottom: 3px solid #4285f4;
}

#settings {
	margin-left: 26px;
}

.options img {
	width: 24px;
	height: 24px;
}

.signin {
	float: right;
	display: inline;
	margin: 13px 2px 13px 10px;
	background-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: default;
	position: relative;
	right: 2%;
}

.signin:focus {
	background-color: #060009;
}

.signin strong {
	color: white;
}

.google {
	height: 215px;
	width: 546px;
	margin: auto;
	margin-top: 50px;
}

.google a {
	height: 215px;
	width: 546px;
}

.search {
	width: 40%;
	float: left;
	height: 39px;
	border: 1px solid #dddddd;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 3px;
	box-shadow: 1px 2px 2px #e4e4e4;
	background-color: white;
}

.search:hover {
	box-shadow: 1px 3px 2px #e4e4e4;
}

form input {
	display: inline;
	float: left;
	width: 90%;
	height: 38px;
	border: none;
	margin-left: 15px;
	position: relative;
}

form input:focus {
	outline: none;
}

.search a {
	float: right;
	background-image: url(../img/microphone.png);
	width: 50px;
	height: 30px;
	display: inline;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	position: relative;
	bottom: 27px;
	right: 0px;
}

.write {
	height: 20px;
}

.buttons {
	width: 30%;
	margin: 30px auto;
	clear: both;
}

.press, .lucky {
	background-color: #f1f1f1;
	font-size: 13px;
	width: 38%;
	margin: auto;
	padding: 0 10px;
}

.press {
	float: left;
}

.lucky {
	float: right;
}

.press:hover, .lucky:hover {
	border: 1px solid #dddddd;
	border-radius: 3px;
	cursor: default;
}

.press p:hover, .lucky p:hover {
	color: #343434;
}

.press p, .lucky p {
	font-weight: bold;
	color: #606060;
	text-align: center;
}

.footer {
	width: 100%;
	position: relative;
	bottom: 0;
	background-color: #f2f2f2;
}

.first_footer {
	float: left;
}

.last_footer {
	float: right;
	position: fixed;
	right: 0;
}

.footer a {
	font-size: 13px;
	color: #626262;
	text-decoration: none;
	line-height: 40px;
}

.footer a:hover {
	text-decoration: underline;
}

.first_footer, .last_footer {
	margin: auto 0 auto 0;
}

.footer li {
	padding-right: 20px;
}

#begin {
	padding-left: 0;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}